<ion-view title="Advanced Modules" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="advancedModules-card24" ng-repeat="module in modules">
            <ion-item class="calm  " id="advancedModules-list-item25">{{ module.title}}</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <img ng-src="{{ module.img }}" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body " id="advancedModules-list-item-container10">
                <p id="advancedModules-markdown1" style="margin-top:0px;color:#000000;" class=" ">
                    {{ module.body }}
                </p>

                <br>

                <a href="{{ module.syllabus }}" target="_blank" class=" button button-calm  button-block ">Download Syllabus</a>
            </div>
            <ion-item class="calm  " id="advancedModules-list-item26">

            </ion-item>
        </div>
    </ion-content>
</ion-view>
