<ion-view title="Become a Center" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- Header img -->
        <div class="">
            <img src="img/atc.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <!-- End Header img -->
        <ion-list id="becomeACenter-list6" class=" ">
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item27">
                <i class="icon ion-checkmark"></i>Application Stage - ICDL Test Centre application forms must be completed and returned to ICDL Africa.</ion-item>
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item29">
                <i class="icon ion-checkmark"></i>Review Stage - Applications are reviewed within 5 working days from receipt of complete documents.</ion-item>
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item33">
                <i class="icon ion-checkmark"></i>Accreditation Stage On approval, a contract is signed and the annual accreditation fee paid.</ion-item>
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item34">
                <i class="icon ion-checkmark"></i>Welcome Pack &amp; System Training - ICDL Africa supplies a welcome pack and training.</ion-item>
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item35">
                <i class="icon ion-checkmark"></i>Ordering - Orders are processed when relevant fees have been paid</ion-item>
        </ion-list>

        <br>

        <p id="becomeACenter-markdown6" style="color:#000000;" class=" ">To receive a copy of our application form and accreditation please click the button below:</p>

        <br>
        
        <a href="mailto:info@icdlafrica.org" id="becomeACenter-button1" class=" button button-calm  button-block ">Apply Now!</a> <!-- ?Subject=Application%20for%20ICDL%20Center%20Accreditation -->
    </ion-content>
</ion-view>