<ion-view title="Credits" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- <h2 id="credits-heading1" style="color:#11C1F3;text-align:center;" class=" ">ICDL App Dev Team</h2> -->
        <!-- Header img -->
        <div class="" style="padding-bottom: 5px;">
            <img src="img/dev.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <!-- End Header img -->
        <ion-list id="credits-list2" class=" ">
            <ion-item class="item-avatar calm  " id="credits-list-item13" href="#" onclick="window.open('https://zw.linkedin.com/in/charles-muzonzini-73752596', '_system', 'location=yes'); return false;">
                <img src="img/charles.jpg">
                <h2calm>Charles Muzonzini
                    <p>Front End Developer</p>
                </h2calm>
            </ion-item>
            <ion-item class="item-avatar calm  " id="credits-list-item14" href="#" onclick="window.open('https://zw.linkedin.com/in/fisher-godknows-mavaza-33608331', '_system', 'location=yes'); return false;">
                <img src="img/fisher.jpg">
                <h2calm>Fisher Mavaza
                    <p>Back End Developer</p>
                </h2calm>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>