<ion-view title="ICDL Modules" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- Header img -->
        <div class="" style="padding-bottom: 5px;">
            <img src="img/modules.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <!-- End Header img -->
        <ion-list id="iCDLModules-list5" class=" ">
            <ion-item class="item-icon-left calm  " id="iCDLModules-list-item15" ui-sref="menu.introductoryModules">
                <i class="icon ion-happy-outline"></i>Introductory Modules</ion-item>
            <ion-item class="item-icon-left calm  " id="iCDLModules-list-item16" ui-sref="menu.baseModules">
                <i class="icon ion-person-stalker"></i>Base Modules</ion-item>
            <ion-item class="item-icon-left calm  " id="iCDLModules-list-item17" ui-sref="menu.standardModules">
                <i class="icon ion-easel"></i>Standard Modules</ion-item>
            <ion-item class="item-icon-left calm  " id="iCDLModules-list-item18" ui-sref="menu.advancedModules">
                <i class="icon ion-settings"></i>Advanced Modules</ion-item>
        </ion-list>
    </ion-content>
</ion-view>